header, footer {
    padding: 1em;
    color: white;
    background-color: #235;
    clear: left;
}

.header1 {
    list-style-type: none;
    margin: 0;
    padding 0;
    overflow: hidden;
}
.header1 .logo a {
    float: left;
    color: white;
    text-decoration: none;
}
.logo a:hover { color: red; }

.header1 .login { float: right; }

.banner_container {
    list-style-type: none;
    margin: 0;
    padding 0;
    overflow: hidden;
    background-color: #234;
}
.banner {
    float: right;
    text-align: center;
}
.banner a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
}
.banner a:hover { background-color: #111; color: red;
}