{% extends "./base.html" %}


{% block content %}
<form action="{% url 'mainpage:vote' issue.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h5>{{ issue.issue_topic }}</h5></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {{ issue.issue_text }}
        <input type="text" name="issue" id="issue">
<!--        <label for="issue">{{ issue.issue_text }}</label><br>-->
</fieldset>
<input type="submit" value="submit">
</form>
{% endblock content %}



