
aside {
    color: black;
    background-color: rgb(245, 248, 250);
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;

}

.news_list li {
    color: black;
    padding: 10px;
    text-decoration: none;

}
